<app-menu [title]="'Personalizza'" [home]=true [cart]=true></app-menu>
<div class="product">
    <img src="../../../assets/img/maglia.jpg" class="img">
    <form [formGroup]="personalizzaForm">
        <h2>Personalizza il tuo prodotto</h2>
        <h5>Colore prodotto</h5>
        <app-colore formControlName="colore"></app-colore>
        <h5>Taglia</h5>
        <app-taglia formControlName="taglia"></app-taglia>
        <h5>Testo personalizzato</h5>
        <input type="text" id="testo" name="testo" placeholder="Inserisci testo" formControlName="testo">
        <div class="bottone">
            <a class="myButton" (click)="addToCart()">AGGIUNGI AL CARRELLO</a>
        </div>
        <div class="bottone2">
            <a class="myButton2" (click)="reset()">RIPRISTINA</a>
        </div>
    </form>
</div>