<app-menu [title]="'Carrello'" [home]=true></app-menu>
<div class="wrap cf">
    <div class="heading cf">
        <h1>Il Mio Carrello ({{products.length}})</h1>
    </div>
    <ng-container *ngIf="products.length>0;else empty">
        <div class="cart">
            <ul class="cartWrap">
                <ng-container *ngFor="let item of products; let i=index;">
                    <li class="items odd" *ngIf="mostra==true || i<2">
                        <div class="infoWrap">
                            <div class="cartSection capitalize">
                                <img src="../../../assets/img/maglia.jpg" class="itemImg">
                                <h6>Colore: {{item.colore}}</h6>
                                <h6>Taglia: {{item.taglia}}</h6><br>
                                <h6>Scritta personalizzata: {{item.testo}}</h6>
                            </div>
                            <div class="prodTotal cartSection">
                                <p>{{item.prezzo}}€</p>
                            </div>
                            <div class="cartSection removeWrap" (click)="remove(item.id)">
                                <a class="remove">Rimuovi</a>
                            </div>
                        </div>
                    </li>
                </ng-container>
                <div class="show">
                    <button *ngIf="products.length>3 && mostra==false" (click)="mostra=true">Mostra tutti</button>
                </div>
            </ul>
        </div>
        <div class="subtotal cf">
            <ul>
                <li class="totalRow final"><span class="label">Totale</span><span class="value">{{tot.toFixed(2)}}€</span></li>
                <li class="totalRow"><a routerLink="/dati" class="btn continue">Checkout</a></li>
            </ul>
        </div>
    </ng-container>
    <ng-template #empty>
        <h1 class="empty">Il tuo Carrello è vuoto</h1>
        <h4 class="empty"><a routerLink="/home"> Comincia a fare shopping</a></h4>
    </ng-template>
</div>